[submodule "components/SparkFun_SerLCD_ESP-IDF_Library"]
	path = components/SparkFun_SerLCD_ESP-IDF_Library
	url = https://github.com/sparkfun/SparkFun_SerLCD_ESP-IDF_Library.git
[submodule "components/LiquidMenu"]
	path = components/LiquidMenu
	url = https://github.com/VaSe7u/LiquidMenu.git
[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "components/sx1509"]
	path = components/sx1509
	url = https://github.com/Kentucky-Fried-Circuits/sx1509.git
